<ion-header>
  <ion-toolbar>
    <ion-title>
      Panduan Harvest Moon Hero of Leaf Valley
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card-content>
  <p>  </p>
</ion-card-content>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/g.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><h2><b>Panduan Harvest Moon Hero of Leaf Valley</b></h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
         <b><h1>Harvest Moon Hero of Leaf Valley (HM HoLV) adalah seri harvest moon yang rilis di perangkat PSP (PlayStation Portable), 
           dan merupakan hasil pengembangan dari seri Harvest Moon: Save The Homeland yang sebelumnya tersedia dan dapat dimainkan di konsol PS2, 
           kalian bisa memainkannya melalui perangkat PSP itu sendiri atau bisa menggunakan emulator PPSSPP. 
           Emulator PPSSPP bisa di jalankan dengan HP ataupun PC, namun yang akan saya bahas adalah mengenai panduan dalam bermain game Harvest Moon Hero of Leaf Valley.</h1></b> 
        </p>
      </ion-card-content>

   