<ion-header>
  <ion-toolbar>
    <ion-title>
      Karakter Harvest Moon Hero of Leaf Valley
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p> <b>Kurt</b></p>
  <ion-img src="/assets/kurt.jpg"></ion-img>
  Keterangan  : <br>Ulang Tahun: Winter 10th
                <br>Paling Suka: Tomato, tomato risotto
                <br>Kesukaan: Red herb, Lumber
                <br>Tidak Suka: Failed dishes, bugs
                <br>Hadiah: Tomatoes, Fish, Red Herb
  

    <p> <b>Joe</b></p>
    <ion-img src="/assets/joe.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Summer 10th
                  <br>Paling Suka: Fish Dishes
                  <br>Kesukaan: Vegetables, Lumber
                  <br>Tidak Suka: Grass, bugs, Herbs
                  <br>Hadiah: Fish cuisine, Fish, Vegetable, Egg
    
    
    <p> <b>Woody</b></p>
    <ion-img src="/assets/woody.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Winter 2nd
                  <br>Paling Suka: Golden Egg
                  <br>Kesukaan: Olive oil, Red herb
                  <br>Tidak Suka: Grass, bugs
                  <br>Hadiah:  Eggs

                  
  <p> <b>Martha</b></p>
    <ion-img src="/assets/martha.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Winter 25th
                  <br>Paling Suka: Jams, special cheese, special cheesecake
                  <br>Kesukaan: Eggs, milk, cooked dishes
                  <br>Tidak Suka: Grass, bugs
                  <br>Hadiah:  Milk, Egg, Cheese, Fishes ( Besar)
  
  
  <p> <b>Ronald</b></p>
    <ion-img src="/assets/ronald.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Spring 11th
                  <br>Paling Suka: Pudding
                  <br>Kesukaan: Walnut, Chestnut, cake, Cooked dishes
                  <br>Tidak Suka: Grass, bugs
                  <br>Hadiah:  Egg, Milk


  <p> <b>Louis</b></p>
    <ion-img src="/assets/louis.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun:  Fall 2nd
                  <br>Paling Suka: Golden egg, egg dishes, rare metal
                  <br>Kesukaan: Eggs, ores
                  <br>Tidak Suka: Failed dishes, junk ore
                  <br>Hadiah:  Egg


  <p> <b>Rudolph</b></p>
    <ion-img src="/assets/rudolph.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun:  ?
                  <br>Paling Suka: Rare metal
                  <br>Kesukaan: Red herb, cooked dishes, Ores
                  <br>Tidak Suka: Grass, bugs, junk ore
                  <br>Hadiah:  Food, Copper, herbs(sembarang)
                  
                  
  <p> <b>Wallace</b></p>
    <ion-img src="/assets/wallace.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Summmer 21st
                  <br>Paling Suka: Cooked dishes
                  <br>Kesukaan: Olive oil, Red Herb, Walnuts
                  <br>Tidak Suka: Grass, bugs
                  <br>Hadiah:  Fish, Red Herb  
                  
                  
  <p> <b>Parsley</b></p>
    <ion-img src="/assets/parsley.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Spring 16th
                  <br>Paling Suka: Vegetable dishes, Herbs
                  <br>Kesukaan: Vegetable dishes, Herbs
                  <br>Tidak Suka: Grass, bugs, failed cooking, ores
                  <br>Hadiah:  Vegetable, Food, Potato, Herbs(sembarang)


  <p> <b>Chaster</b></p>
    <ion-img src="/assets/chester.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Winter 25th
                  <br>Paling Suka: Rare metal, Diamond earring
                  <br>Kesukaan: Honey, Ores and minerals
                  <br>Tidak Suka: Grass, bugs, failed cooking, junk ore
                  <br>Hadiah:  Ores


  <p> <b>Bob</b></p>
    <ion-img src="/assets/bob.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Summer 1st
                  <br>Paling Suka: Honey, cake, milk G
                  <br>Kesukaan: Egg, milk
                  <br>Tidak Suka: Grass, bugs, failed dishes
                  <br>Hadiah:  Milk, Egg


  <p> <b>Tim</b></p>
    <ion-img src="/assets/tim.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Fall 12th
                  <br>Paling Suka: Bugs, eggs, golden eggs
                  <br>Kesukaan: Cooked dishes
                  <br>Tidak Suka: Grass
                  <br>Hadiah:  Egg, bugs  
                  
   
  <p> <b>Ponta</b></p>
    <ion-img src="/assets/ponta.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: ?
                  <br>Paling Suka: Fish dishes
                  <br>Kesukaan: Fish
                  <br>Tidak Suka: Grass, junk ore
                  <br>Hadiah:  Semua jenis ikan


  <p> <b>Zann</b></p>
    <ion-img src="/assets/zann.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: ?
                  <br>Paling Suka: ?
                  <br>Kesukaan: Junk ore, grass
                  <br>Tidak Suka: ?
                  <br>Hadiah:  Junk ore, grass


  <p> <b>Charles</b></p>
    <ion-img src="/assets/charles.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Winter 23rd
                  <br>Paling Suka:  Rare metal
                  <br>Kesukaan: Ores, honey
                  <br>Tidak Suka: Grass, bugs, failed dish, junk ore
                  <br>Hadiah:  Ores, fluffy bread


  <p> <b>Renton</b></p>
    <ion-img src="/assets/renton.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Spring 1st
                  <br>Paling Suka:  Milk G, golden egg
                  <br>Kesukaan: Eggs, Red herb, milk
                  <br>Tidak Suka: Grass, bugs, junk ore, failed dish
                  <br>Hadiah:  Egg


  <p> <b>Harvest Sprites</b></p>
    <ion-img src="/assets/kurcaci.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: ?
                  <br>Paling Suka:  Mushroom
                  <br>Kesukaan: Cooked dishes, eggs, milk
                  <br>Tidak Suka: Truffles
                  <br>Hadiah:  Eggs, Milk
  </ion-content>
  