<ion-header>
  <ion-toolbar>
    <ion-title>
      Pilihan Kamar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/kamar1.jpg"></ion-img>
      <p>- TV</p>
      <p>- Spring Bad</p>
      <p>- Ranjang</p>
      <p>- Kipas Angin</p>
      <p>- Harga = Rp. 90,000/malam</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/kamar2.jpg"></ion-img>
      <p>- Almari</p>
      <p>- Spring Bad</p>
      <p>- Ranjang</p>
      <p>- Kipas Angin</p>
      <p>- Kaca</p>
      <p>- Harga = Rp. 90,000/malam</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/kamar3.jpg"></ion-img>
      <p>- TV</p>
      <p>- Spring Bad</p>
      <p>- Ranjang</p>
      <p>- Kipas Angin</p>
      <p>- Harga = Rp. 90,000/malam</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-content>
        <ion-img src="/assets/kamar4.jpg"></ion-img>
      <p>- TV</p>
      <p>- Spring Bad</p>
      <p>- Ranjang</p>
      <p>- Kipas Angin</p>
      <p>- Harga = Rp. 90,000/malam</p>
    </ion-card-content>
  </ion-card>
</ion-content>
