<ion-header>
  <ion-toolbar>
    <ion-title>
        Kegiatan TPQ 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> <b>Membaca Al-Qur'an</b></p>
  <ion-img src="/assets/bljr.jpg"></ion-img>
  Keterangan  : <br>Bersama Ustadzah
  

    <p> <b>Belajar Bersama</b></p>
    <ion-img src="/assets/bersama.jpg"></ion-img>
    Keterangan  : <br>Belajar Bersama 
    
    
    <p> <b>Lomba-lomba</b></p>
    <ion-img src="/assets/lomba.jpg"></ion-img>
    Keterangan  : <br>Agenda setiap setelah Ujian Mengaji

                  
  <p> <b>Maulid Nabi</b></p>
    <ion-img src="/assets/maulid.jpg"></ion-img>
    Keterangan  : <br>Acara Besar TPQ sekaligus khataman
  

  </ion-content>
  