<ion-header>
  <ion-toolbar>
    <ion-title>
      Wisata Dieng
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/6.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bukit Sikunir</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Bukit Sikunir, di Desa Sembungan, Kecamatan Kejajar, Kabupaten Wonosobo, Jawa Tengah menjadi destinasi favorit wisatawan saat berkunjung 
          di negeri di atas awan. Ya, bukit itu menjadi salah satu tujuan wisatawan untuk menikmati keindahan matahari terbit.
           Sejumlah wisatawan bahkan sejak subuh telah bersiap untuk mendaki bukit itu. Butuh waktu sekitar 30 menit untuk sampai mendaki bukit dengan
            panorama 8 gunung itu.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      </ion-list>
     
        <ion-card class="welcome-card">
          <ion-img src="/assets/5.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Telaga Warna</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Telaga Warna Dieng adalah salah satu objek wisata yang berada di kawasan Dataran Tinggi Dieng, Kabupaten Wonosobo, Jawa Tengah.
              Telaga ini merupakan salah satu destinasi wisata andalan Kabupaten Wonosobo. Nama Telaga Warna sendiri diberikan karena keunikan 
              fenomena alam yang terjadi di tempat ini, yaitu warna air dari telaga tersebut yang sering berubah-ubah. Terkadang telaga ini 
              berwarna hijau dan kuning atau berwarna warni seperti pelangi. Fenomena ini terjadi karena air telaga mengandung sulfur yang cukup tinggi,
               sehingga saat sinar Matahari mengenainya, maka warna air telaga tampak berwarna warni. 
            </p>
          </ion-card-content>
        </ion-card>
        <ion-list lines="none">
         </ion-list>
         
            <ion-card class="welcome-card">
              <ion-img src="/assets/7.jpg"></ion-img>
              <ion-card-header>
                <ion-card-title>Candi Arjuna</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Candi Arjuna adalah sebuah bangunan candi Hindu yang terletak di Dataran Tinggi Dieng, Kabupaten Banjarnegara, Jawa Tengah, Indonesia.
                    Candi Arjuna merupakan salah satu bangunan candi di Kompleks Percandian Arjuna, Dieng. Candi Arjuna diperkirakan sebagai candi tertua,
                     candi ini diperkirakan dibangun pada abad 8 Masehi oleh Dinasti Sanjaya dari Mataram Kuno. Di kompleks ini juga terdapat Candi Semar,
                      Candi Srikandi, Candi Puntadewa, dan Candi Sembadra. Candi Arjuna terletak paling utara dari deretan percandian di kompleks tersebut.
                       Sementara itu, Candi Semar adalah candi perwara atau pelengkap dari Candi Arjuna. Kedua bangunan candi ini saling berhadapan.
                    Seperti umumnya candi-candi di Dieng, masyarakat memberikan nama tokoh pewayangan Mahabarata sebagai nama candi.
                </p>
              </ion-card-content>
            </ion-card>
            <ion-list lines="none">
             </ion-list>
             
                <ion-card class="welcome-card">
                  <ion-img src="/assets/3.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Batu Pandang</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>Batu Pandang atau biasa masyarakat menyebutnya Wisata Ratapan Angin. Merupakan sebuah tempat wisata yang terletak 
                      di Dieng Wonosobo dengan pemandangan sungguh indah. Dieng sendiri merupakan tempat dengan bekas gunung vulkanik purba yang sudah 
                      tidak aktif. Sebagian besar merupakan bekas letusan gunung yang meninggalkan bukit-bukit, bebatuan menonjol hingga tempat eksotis 
                      lainnya. Salah satu bukti adanya peninggalan aktivitas vulkanik purba diantaranya adalah tebing batu yang menonjol. 
                      Bukit ratapan angin atau Batu Pandang atau batu ratapan angin salah satu peninggalan aktifitas tersebut. 
                    </p>
                  </ion-card-content>
                </ion-card>
                <ion-list lines="none">
                 </ion-list>
                 
                    <ion-card class="welcome-card">
                      <ion-img src="/assets/8.jpg"></ion-img>
                      <ion-card-header>
                        <ion-card-title>Padang Savana</ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <p>Padang Savana Dieng terletak di Kaki Gunung Pangonan merupakan obyek wisata mengagumkan dengan memamerkan ciri khas bentang 
                          alam Dieng Plateau. Padang Savana ini mampu memikat hati bagi setiap pelancong yang menghampirinya dikala sedang rindu akan 
                          ketenangan dengan memandangi indahnya ciptaan Tuhan. Perjalanan singkat menuju Padang Savana Dieng akan membawa Anda semakin 
                          jauh dari cengkraman keramaian kota. Lembah dengan rumput semak keemasan dan kehijauan setinggi lutut menghantarkan langkah 
                          Anda untuk menyibak alam di kawasan Padang Savana Dieng. 
                        </p>
                      </ion-card-content>
                    </ion-card>
                    <ion-list lines="none">
                     </ion-list>
                     
                        <ion-card class="welcome-card">
                          <ion-img src="/assets/2.jpg"></ion-img>
                          <ion-card-header>
                            <ion-card-title>Kawah Sikidang</ion-card-title>
                          </ion-card-header>
                          <ion-card-content>
                            <p>Salah satu destinasi wisata yang menjadi daya tarik di dieng adalah kawah sikidang yang fenomenal. Kawang ini dibaeri 
                              nama sikidang yang mempunyai arti kidang / kijang. Tempat tersebut di beri nama sikidang karena kawahnya sering 
                              berpindah-pindah atau melompat-lompat. Karena hal tersebut kawang tersebut diberi nama sikidang. Kidang / Kijang 
                              adalah hewan yang sering melompat lompat. Kawah ini rata-rata berpindah tempat setiap empat tahun sekali. 
                              Hal tersebut lah yang membuat kawah ini menjadi sangat menarik untuk dikunjungi.
                            </p>
                          </ion-card-content>
                        </ion-card>
                        <ion-list lines="none">
                         </ion-list>
                         
                            <ion-card class="welcome-card">
                              <ion-img src="/assets/1.jpg"></ion-img>
                              <ion-card-header>
                                <ion-card-title>Puncak Gunung Prahu</ion-card-title>
                              </ion-card-header>
                              <ion-card-content>
                                <p>Gunung Prahu (terkadang dieja Gunung Prau) (2.565 mdpl) terletak di kawasan Dataran Tinggi Dieng, Jawa Tengah, Indonesia. 
                                  Gunung Prahu terletak pada koordinat 7°11′13″S 109°55′22″E. Gunung Prahu merupakan tapal batas antara tiga kabupaten yaitu 
                                  Kabupaten Batang, Kabupaten Kendal dan Kabupaten Wonosobo. Puncak Gunung Prahu merupakan padang rumput luas yang memanjang 
                                  dari barat ke timur. Bukit-bukit kecil dan sabana dengan sedikit pepohonan dapat kita jumpai di puncak. Gunung Prahu merupakan puncak tertinggi di kawasan Dataran Tinggi Dieng, dengan beberapa puncak yang lebih rendah di sekitarnya, antara lain Gunung Sipandu, Gunung Pangamun-amun, dan Gunung Juranggrawah. 
                                </p>
                              </ion-card-content>
                            </ion-card>
                            <ion-list lines="none">
                             </ion-list>
                             </ion-content>