<ion-header>
  <ion-toolbar>
    <ion-title>
      TPQ Al-Muhajirin
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card-content>
  <p>  </p>
</ion-card-content>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/quran.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><h2><b>TPQ AL-Muhajirin</b></h2></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
         <b><h1>TPQ Al-Muhajirin adalah TPQ swasta yang bertempat di Kebumen. TPQ ini dibangun untuk membantu para santriwan santriwati kecil untuk belajar Al-Qur'an.</h1></b> 
        </p>
      </ion-card-content>

