<ion-header>
  <ion-toolbar>
    <ion-title>
      Wisata Dieng
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/dieng.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Dieng Negri Atas Awan</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Dataran Tinggi Dieng adalah kawasan vulkanik aktif di Jawa Tengah, yang masuk wilayah Kabupaten Banjarnegara dan Kabupaten Wonosobo. Letaknya berada di sebelah barat kompleks Gunung Sindoro dan Gunung Sumbing.
         Dieng mempunyai banayak sekali wisata alam yang sangat menakjubkan dan menjati tempat yang pas untuk berburu foto-foto keren. 
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
     
