<ion-header>
  <ion-toolbar>
    <ion-title>
      Homestay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to nepal Homestay </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-img src="/assets/home.png"></ion-img>
        <p>Nepal Homestay merupakan salah satu penginapan yang berada di Purbalingga, Jln RA.Diponegoro, Purbalingga</p>
      </ion-card-content>
    </ion-card>
    <ion-card-header>
      <ion-card-content>
        <p>Homestay berjarak 15 Menit menuju Owabong. Dengan maksimal pengunjung 4 Orang/kamar. Fasilitas lengkap dengan free WIFI, nyaman dan aman</p>
      </ion-card-content>
    </ion-card-header>
    <ion-img src="/assets/map.jpg"></ion-img>
</ion-content>
