<ion-header>
  <ion-toolbar>
    <ion-title>
      Tips Homestay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
  <ion-card-header>
  <ion-card-content>
  <p>
    Murah, Aman, Nyaman adalah prioritas kami untuk anda, tidak hanya homestay kami tetapi juga pada penginapan lain. Berikut tips dari kami untuk anda dalam mempersiapkan hari libur dalam mencari penginapan
  </p>
  </ion-card-content>
  </ion-card-header>
</ion-card>
<ion-card class="welcome-card">
    <ion-card-header>
    <ion-card-content>
    <p>
     - carilah homestay yang dekat dengan pusat kota
    </p>
    </ion-card-content>
    </ion-card-header>
  </ion-card>
  <ion-card class="welcome-card">
      <ion-card-header>
      <ion-card-content>
      <p>
      - carilah homestay yang dekat dengan tempat pariwisata  
      </p>
      </ion-card-content>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
        <ion-card-header>
        <ion-card-content>
        <p>
         - jangan gunakan calo
        </p>
        </ion-card-content>
        </ion-card-header>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-card-header>
          <ion-card-content>
          <p>
           - carilah homestay yang pas dengan ukuran kantong
          </p>
          </ion-card-content>
          </ion-card-header>
        </ion-card>
        <ion-card class="welcome-card">
            <ion-card-header>
            <ion-card-content>
            <p>
             - kontak homestay agar info yang di dapat jelas
            </p>
            </ion-card-content>
            </ion-card-header>
          </ion-card>
</ion-content>
