<ion-header>
  <ion-toolbar>
    <ion-title>
        Karakter Spesial 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p> <b>Gwen</b></p>
    <ion-img src="/assets/gwen.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Summer 8th
                  <br>Paling Suka: Wild mint flower, Milk G, Cranberry, Full moon berry
                  <br>Kesukaan: Lumber, vegetables, berries
                  <br>Tidak Suka: Ores, bugs, grasses, pink cat flower, fodder
                  <br>Hadiah: Milk, Vegetables


<p> <b>Lyla</b></p>
    <ion-img src="/assets/lyla.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Spring 27th
                  <br>Paling Suka: Pink cat flower, Full moon berry
                  <br>Kesukaan: Flowers, berries, nuts
                  <br>Tidak Suka: Ores, bugs, grasses, failed dishes
                  <br>Hadiah: Pink Grass, Milk, Flower, Berries


<p> <b>Dia</b></p>
    <ion-img src="/assets/dia.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Winter 9th
                  <br>Paling Suka: Blueberry, Full moon berry
                  <br>Kesukaan: Cooked dish, very berry
                  <br>Tidak Suka: Ores, bugs, grasses, failed dish
                  <br>Hadiah: VeryBerry


<p> <b>Gina</b></p>
    <ion-img src="/assets/gina.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Fall 20th
                  <br>Paling Suka: Golden milk, golden egg, Stardust flower
                  <br>Kesukaan: Fish dish, eggs, milk
                  <br>Tidak Suka: Ores, bugs, grasses
                  <br>Hadiah: Eggs, Milk, Fish


<p> <b>Gina</b></p>
    <ion-img src="/assets/katie.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Fall 29th
                  <br>Paling Suka: Blue Mist flower, Full moon berry
                  <br>Kesukaan: Eggs, milk, Milk G, Golden egg
                  <br>Tidak Suka: Bugs, grasses
                  <br>Hadiah: Cheese, Eggs


<p> <b>Aurelia</b></p>
    <ion-img src="/assets/aurelia.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Fall 5th
                  <br>Paling Suka: Lumber
                  <br>Kesukaan: Very Berry, egg dishes, seashells
                  <br>Tidak Suka: Junk ore, grass
                  <br>Hadiah: Wood, Veryberry, Eggs  
                  
              
<p> <b>Alice</b></p>
    <ion-img src="/assets/alice.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Spring 5th
                  <br>Paling Suka: Rare ore, jewelry, accessories
                  <br>Kesukaan: Ores
                  <br>Tidak Suka: Failed dishes
                  <br>Hadiah: Blue diamond, moonlight stone, Orihalcum


<p> <b>Harvest Goddess</b></p>
    <ion-img src="/assets/goddess.jpg"></ion-img>
    Keterangan  : <br>Ulang Tahun: Marina
                  <br>Paling Suka: Hasil Kebun
                  <br>Kesukaan: Berries, Honey, Fruits
                  <br>Tidak Suka: Ores, bugs, grasses
                  <br>Hadiah: Vegetables, semuanya kecuali bugs and grasses
</ion-content>                  